@font-face {
	font-family: 'Titillium Web'; font-style: normal; font-weight: 400;
	src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(http://dascritch.net/themes/DSN13/fonts/TitilliumWeb-Regular.ttf) format('ttf');
}
@font-face {
	font-family: 'Titillium Web'; font-style: normal; font-weight: 600;
	src: local('Titillium WebSemiBold'), local('TitilliumWeb-SemiBold'), url(http://dascritch.net/themes/DSN13/fonts/TitilliumWeb-SemiBold.ttf) format('ttf');
}
@font-face {
	font-family: 'Titillium Web'; font-style: normal; font-weight: 700;
	src: local('Titillium WebBold'), local('TitilliumWeb-Bold'), url(http://dascritch.net/themes/DSN13/fonts/TitilliumWeb-Bold.ttf) format('ttf');
}
@font-face {
	font-family: 'Titillium Web'; font-style: normal; font-weight: 900;
	src: local('Titillium WebBlack'), local('TitilliumWeb-Black'), url(http://dascritch.net/themes/DSN13/fonts/TitilliumWeb-Black.ttf) format('ttf');
}
@font-face {
	font-family: 'Titillium Web'; font-style: italic; font-weight: 400;
	src: local('Titillium WebItalic'), local('TitilliumWeb-Italic'), url(http://dascritch.net/themes/DSN13/fonts/TitilliumWeb-Italic.ttf) format('ttf');
}
@font-face {
	font-family: 'Titillium Web'; font-style: italic; font-weight: 600;
	src: local('Titillium WebSemiBold Italic'), local('TitilliumWeb-SemiBoldItalic'), url(http://dascritch.net/themes/DSN13/fonts/TitilliumWeb-SemiBoldItalic.ttf) format('ttf');
}
@font-face {
	font-family: 'Titillium Web'; font-style: italic; font-weight: 700;
	src: local('Titillium WebBold Italic'), local('TitilliumWeb-BoldItalic'), url(http://dascritch.net/themes/DSN13/fonts/TitilliumWeb-BoldItalic.ttf) format('ttf');
}

html, body, main, section, aside, p , span , var , svg, img {
	font-family: 'Titillium','Ubuntu','Incosolata','Consolas',sans-serif ;
	padding : 0;
	margin : 0;
	border : 0;
	text-decoration : none;
}

body {
	font-size : 2em;
	background : #777777;
	font-weight : bold;
	color : #f9f9f9;
	padding : 40px;
	overflow : hidden;
}

main {
	position : fixed;
	width : 100%;
	width : calc(100% - 80px);
	height : 100%;
	height : calc(100% - 80px);
}

.fullAdapt {
	width : 100%;
	height : 100%;
}

.letterBox {
	max-width : 100%;
	max-height : 100%;
}

.fullCroped {
	min-width : 100%;
	min-height : 100%;
}

section {
	position : absolute;
	text-align : center;
	margin : 3em auto;
	width : 80%;
	width : calc(100% - 80px);
}

#rez {
	top : 1em;
}

#charts {
	bottom : 1em;
}

#charts p {
	display : inline-block;
	margin : 0 0.5em;
}
#charts svg {
	display : block;
}
svg {
	background : black;
}
rect {
	stroke : 0;
}
.test_sharpnessO {
	fill : #000000;
}
.test_sharpnessI {
	fill : #9f9f9f;
}

#timer {
	font-size  : 40px;
	fill       : #00ff00;
	text-anchor: middle;
	vertical-align: middle;
}

aside div {
	position : fixed;
	background : black;
}

aside svg {
	position : relative;
	width : 40px;
	height : 40px;
}

aside polygon {
	fill : #777777;
}

#overscan-top, #overscan-bottom {
	width : 100%;
	height : 40px;
	left : 0;
	right : 0;
}

#overscan-top , #overscan-top svg {
	top : 0;
}
#overscan-bottom , #overscan-bottom svg {
	bottom : 0;
}
#overscan-top svg , #overscan-bottom svg {
	left : 50%;
	left : calc(50% - 20px);
}

#overscan-left, #overscan-right {
	height : 100%;
	width : 40px;
	top : 0;
	bottom : 0;
}

#overscan-left , #overscan-left svg {
	left : 0;
}
#overscan-right , #overscan-right svg {
	right : 0;
}
#overscan-left svg , #overscan-right svg {
	top : 50%;
	top : calc(50% - 20px);
}

@media (max-height : 600px) and (max-width : 600px) {
	body {
		font-size : 1em;
	}
	#charts span {
		display : none;
	}
}

@media (max-height : 800px) and (max-width : 800px) {
	body {
		font-size : 1.5em;
	}
	#charts span {
		display : none;
	}
}

@media (min-height : 1000px) and (min-width : 1000px) {
	body {
		font-size : 2.5em;
	}
}